.header-transition-enter {
    opacity: 0;
  }
  
  .header-transition-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
  
  .header-transition-exit {
    opacity: 1;
  }
  
  .header-transition-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  